In [1]:
# '빅'데이터 분석을 위해 반드시 필요한 파이썬의 데이터 가상저장 전문 프레임워크 판다스를 이용해 탐색분석
import pandas as pd

excel = pd.read_excel( "./051.xlsx" )
dataframe = pd.DataFrame( excel )
column_count = len( dataframe.columns )
row_count = len( dataframe )

print( "-첫 번째 정보--------------------------------" )
print( dataframe["상품"] )
print( dataframe.상품.describe() )
print( "------------------------------------------" )

-첫 번째 정보--------------------------------
0      라면
1     볶음밥
2       껌
3      김치
4      과자
5     음료수
6      생수
7      우유
8     도시락
9     머리끈
10     담배
Name: 상품, dtype: object
count     11
unique    11
top       과자
freq       1
Name: 상품, dtype: object
------------------------------------------

In [2]:
print( "-두 번째 정보--------------------------------" )
print( dataframe["가격"] )
print( dataframe.가격.describe() )
print( "------------------------------------------" )

-두 번째 정보--------------------------------
0      3500
1      7700
2      1000
3      2500
4      1500
5      4500
6      1900
7      2200
8     12000
9      1200
10     4500
Name: 가격, dtype: int64
count       11.000000
mean      3863.636364
std       3335.048044
min       1000.000000
25%       1700.000000
50%       2500.000000
75%       4500.000000
max      12000.000000
Name: 가격, dtype: float64
------------------------------------------

In [3]:
print( "-세 번째 정보--------------------------------" )
print( dataframe["평점"] )
print( dataframe.평점.describe() )
print( "------------------------------------------" )

-세 번째 정보--------------------------------
0     2.5
1     3.5
2     5.0
3     4.3
4     2.1
5     3.3
6     2.7
7     1.5
8     3.5
9     1.2
10    7.5
Name: 평점, dtype: float64
count    11.000000
mean      3.372727
std       1.778815
min       1.200000
25%       2.300000
50%       3.300000
75%       3.900000
max       7.500000
Name: 평점, dtype: float64
------------------------------------------

In [4]:
print( "-네 번째 정보--------------------------------" )
print( dataframe.info() )
print( "------------------------------------------" )

-네 번째 정보--------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상품      11 non-null     object
 1   가격      11 non-null     int64
 2   평점      11 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 392.0+ bytes
None
------------------------------------------

In [5]:
print( "-다섯 번째 정보------------------------------" )
print( dataframe.head() )
print( "------------------------------------------" )

-다섯 번째 정보------------------------------
    상품    가격   평점
0   라면  3500  2.5
1  볶음밥  7700  3.5
2    껌  1000  5.0
3   김치  2500  4.3
4   과자  1500  2.1
------------------------------------------

In [6]:
print( "-여섯 번째 정보------------------------------" )
print("고객이 라면과 도시락을 구매하였습니다. 얼마입니까?")
purchase = 0

for row in range( row_count ) :
    if dataframe["상품"][row] == "라면" or dataframe["상품"][row] == "도시락" :
        purchase += dataframe["가격"][row]
    else :
        pass

print( "가격은", format(purchase, ','), "입니다." )
print( "------------------------------------------" )

-여섯 번째 정보------------------------------
고객이 라면과 도시락을 구매하였습니다. 얼마입니까?
가격은 15,500 입니다.
------------------------------------------

In [7]:
print( "-일곱 번째 정보------------------------------" )
print( dataframe.iloc[0] )
print( dataframe.iloc[0][0] )
print( dataframe.iloc[0][1] )
print( dataframe.iloc[0][-1] )
print( "------------------------------------------" )

-일곱 번째 정보------------------------------
상품      라면
가격    3500
평점     2.5
Name: 0, dtype: object
라면
3500
2.5
------------------------------------------